
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: whitesmoke; 
    background-size: cover;
    min-height: 100vh
    height: 100%;
}

body {
    background-color: whitesmoke;
    background-image: url('../images/backround.jpg'); 
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    color: #5dab5d; 
    width: 100%; 
    height: 100%;
}

main {
    flex: 1; 
    width: 100%; 
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}



h1 {
    color: #008080;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-top: 0px;
    padding-top: 20px;
}

h2, h3 {
    color: #008080;
    font-size: 2em; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-top: 0px;
    padding-top: 20px;
}

p {
    color: #000000;
    font-size: 1.1em;
}

button {
    color: #008080 !important;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #cdf5cd !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #f0f0f0;
}

strong {
    color: #3d965f;
    font-weight: bold;
}

.logo-img {
    image-rendering: optimizeQuality; 
    image-rendering: -webkit-optimize-contrast; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}




.welcome-container {
    background: linear-gradient(to right, #fdfdfd, #dbffd9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 80%; 
    color: white;
}

.bold {
    font-weight: bold;
}

.profile-img-container {
    background-color: #57bef3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
}

.profile-img {
    width: 100%; 
    max-width: 200px; 
    height: auto;
    border-radius: 8px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 50px; 
    }
}


.background-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

.about-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}


.header-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;

}

.terp-logo {
            width: 120px;           
            height: auto;         
            margin-right: 10px;    
        }

.cert-logo {
    width: 120px; /* You can adjust this size */
    height: auto; /* Keeps the aspect ratio intact */
    margin-right: 10px; /* Space between logo and header text */
    vertical-align: middle;
}

.ccna-logo {
    width: 150px; /* You can adjust this size */
    height: auto; /* Keeps the aspect ratio intact */
    margin-right: 10px; /* Space between logo and header text */
    vertical-align: middle;
}




.social-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.nav-icon {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #CDF5CD;
    color: #333;
    display: inline-block;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-icon {
        width: 60px; 
        height: 60px; 
        font-size: 0.8em; 
        margin: 2px; 
    }
    .social-nav {
        flex-wrap: wrap; 
        padding: 0 10px; 
    }
}



.nav-icon:hover {
    background-color: #eee;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    padding: 10px 0;
}

footer a {
    padding: 0 2px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }

    h2, h3 {
        font-size: 1.5em;
    }

    .profile-img {
        width: 80%; 
        max-width: 150px; 
    }

    .welcome-container, .about-section, .background-section {
        max-width: 95%; 
    }

    nav a {
        margin: 0 5px;
        font-size: 0.9em; 
    }

    .nav-icon {
        width: 60px;
        height: 60px; 
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover; 
    }

    header {
        padding: 10px; 
    }

    .welcome-container, .about-section, .background-section {
        padding: 10px; 
        margin: 10px 5px; 
        max-width: 95%; 
    }

    h1, h2, h3 {
        font-size: 1.2em; 
    }

    .nav-icon {
        padding: 8px; 
        width: 50px; 
        height: 50px; 
        font-size: 0.8em; 
    }

    .profile-img {
        width: 80%; 
        max-width: 150px; 
    }

    .logo {
        width: 40px; 
        position: static; 
    }

    




    footer {
        font-size: 0.8em; 
    }
}

@media (max-width: 768px) {
    body, header, main {
        padding: 5px;
    }

    .welcome-container, .about-section, .background-section {
        padding: 5px;
        margin: 5px;
        max-width: 100%; 
    }
}

