/* Correct path if style.css and space_background.jpg are in the same directory */
html, body {
    color: white;
    height: 100%; /* This ensures that both the html and body tags cover the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

body {
    background-color: red;
    background-image: url('../images/backround.jpg'); width: 100%; height: 100%;}; /* Ensure this path is correct relative to the location of the CSS file */
    background-size: cover; /* Cover the entire viewport without repeating */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    color: white; /* Set text color to white for visibility */
}
