/* Correct path if style.css and space_background.jpg are in the same directory */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: whitesmoke; /* Light gray background for better readability */
    background-size: cover;
    min-height: 100vh
    height: 100%;
}

body {
    background-color: whitesmoke;
    background-image: url('../images/backround.jpg'); /* Ensure this path is correct */
    background-size: 100%; /* Cover the entire viewport without repeating */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    min-height: 100vh; 
    color: #cdf5cd; /* Set text color to black for visibility */
    width: 100%; 
    height: 100%;
}

main {
    flex: 1; /* Allows main content to expand and push the footer down */
    width: 100%; /* Ensures main takes full width of the container */
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}



h1 {
    color: #008080;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-top: 0px;
    padding-top: 20px;
}

h2, h3 {
    color: #008080;
    font-size: 2em; /* Slightly smaller for better responsiveness */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-top: 0px;
    padding-top: 20px;
}

p {
    color: #000000;
    font-size: 1.1em;
}

button {
    color: #008080 !important;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #cdf5cd !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #f0f0f0;
}

strong {
    color: #3d965f;
    font-weight: bold;
}

.logo-img {
    image-rendering: optimizeQuality; /* Ensures the image is rendered with higher quality */
    image-rendering: -webkit-optimize-contrast; /* Enhance contrast and quality in WebKit browsers */
    -webkit-font-smoothing: antialiased; /* Smoothens the text in logos that include text */
    -moz-osx-font-smoothing: grayscale; /* Similar effect for Firefox on Mac */
}




.welcome-container {
    background: linear-gradient(to right, #fdfdfd, #dbffd9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 80%; /* Made it responsive by increasing width slightly */
    color: white;
}

.bold {
    font-weight: bold;
}

.profile-img-container {
    background-color: #57bef3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
}

.profile-img {
    width: 100%; /* Full width for mobile responsiveness */
    max-width: 200px; /* Maximum width to maintain control on desktop */
    height: auto;
    border-radius: 8px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 50px; /* Even smaller for very small devices */
    }
}


.background-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%; /* Improved for responsiveness */
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

.about-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.social-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.nav-icon {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #CDF5CD;
    color: #333;
    display: inline-block;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-icon {
        width: 60px; /* Smaller size for mobile */
        height: 60px; /* Smaller size for mobile */
        font-size: 0.8em; /* Smaller font size for text within the circles */
        margin: 2px; /* Reduced margin to fit smaller screens */
    }
    .social-nav {
        flex-wrap: wrap; /* Allow the nav icons to wrap if space is insufficient */
        padding: 0 10px; /* Padding on the sides */
    }
}



.nav-icon:hover {
    background-color: #eee;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    padding: 10px 0;
}

footer a {
    padding: 0 2px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    h2, h3 {
        font-size: 1.5em;
    }

    .profile-img {
        width: 80%; /* Ensure the profile image resizes well on mobile */
        max-width: 150px; /* Limit for smaller screens */
    }

    .welcome-container, .about-section, .background-section {
        max-width: 95%; /* Stretch sections to use more space on mobile */
    }

    nav a {
        margin: 0 5px;
        font-size: 0.9em; /* Make the nav items smaller for mobile */
    }

    .nav-icon {
        width: 60px;
        height: 60px; /* Make nav icons smaller */
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover; /* Adjust background size for smaller screens */
    }

    header {
        padding: 10px; /* Reduce padding to better fit mobile screens */
    }

    .welcome-container, .about-section, .background-section {
        padding: 10px; /* Reduce padding for content sections */
        margin: 10px 5px; /* Adjust margins for mobile */
        max-width: 95%; /* Use more screen width for content */
    }

    h1, h2, h3 {
        font-size: 1.2em; /* Reduce the size of headers on small screens */
    }

    .nav-icon {
        padding: 8px; /* Smaller padding */
        width: 50px; /* Smaller width for icons */
        height: 50px; /* Smaller height for icons */
        font-size: 0.8em; /* Smaller font size for navigation texts */
    }

    .profile-img {
        width: 80%; /* Larger relative width to screen size for visibility */
        max-width: 150px; /* Maximum width constraint for image */
    }

    .logo {
        width: 40px; /* Smaller logo size */
        position: static; /* Adjust position to default flow if necessary */
    }

    




    footer {
        font-size: 0.8em; /* Smaller font size for footer on mobile */
    }
}

@media (max-width: 768px) {
    body, header, main {
        padding: 5px;
    }

    .welcome-container, .about-section, .background-section {
        padding: 5px;
        margin: 5px;
        max-width: 100%; /* Use full width to avoid overflow */
    }
}

